@page "/Recipes"
@inject HttpClient HttpClient
@using Shared.Models
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveWebAssembly

<h3>RecipeForm</h3>

@if (!recipes.Any()) {
    <div>Loading...</div>
} else {
<table class="table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
        <th>Calories</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (Recipe recipe in recipes) {
            <tr>
                <td>@recipe.Category.Name</td>
                <td>@recipe.Name</td>
                <td>@recipe.Description</td>
                <td>@recipe.Macros.Calories</td>
                <td>View</td>
            </tr>
        }
        </tbody>
</table>
}

@code {
    List<Recipe>? recipes = [];

    protected override async Task OnInitializedAsync() {
        recipes = await HttpClient.GetFromJsonAsync<List<Recipe>>("/api/recipes");
    }
}