.custom-background {
    background-image: url('../svgs/background.svg');
    background-repeat: repeat;
    background-size: 50px 50px;
    background-color: #FAF3E1;
    background-attachment: fixed;
    min-height: 100vh; /* Ensures minimum height of viewport */
    height: auto; /* Allows content to expand beyond viewport */
    padding-bottom: 2rem; /* Optional: adds some space at the bottom */}

.spacing {
    margin: 5px;
}

/*@media (max-width: 600px) {*/
/*    .mobile-full-width {*/
/*        flex-basis: 100%;*/
/*        max-width: 100%;*/
/*    }*/
/*}*/